{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Institute Day</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="/home" class="logo"><strong>Institute Day</strong> @ IIT(BHU)</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/home">Home</a></li>
					<li><a href="/generic">Generic</a></li>
					<li><a href="/elements">Elements</a></li>
				</ul>
			</nav>
			{% block content %}
            {% endblock %}
	<!-- Footer -->
			<footer id="footer">
				<!-- <ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				</ul> -->
				<div class="copyright">
					&copy; IIT(BHU), Banaras Hindu University Campus, Varanasi, Uttar Pradesh 221005.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

	</body>		
	<script type="text/javascript">
		function ajax_get(first,URL){
				  return $.ajax({
				    url: URL,                 // the endpoint
				    type: "POST",             // http method
				    data: first,              // data sent with the post request
				  });
				}
		$("#reg-form").submit(function(e){
  		  e.preventDefault();
 		});
		function sub(){
			var first_name = document.getElementById("first_name").value;
			var mentor = document.getElementById("mentor").value;
			var last_name = document.getElementById("last_name").value;
			var title = document.getElementById("title").value;
			var subarea = document.getElementById("subarea").value;
			var abstract = document.getElementById("abstract").value;
			var department = $('#category option:selected').val();	
			if(last_name.length === 0 || first_name.length === 0 || mentor.length === 0 || title.length === 0 ||subarea.length === 0 ||abstract.length === 0){
				$("#error").text("Please fill all the fields.");
				//console.log("hajhdakj");
				return false;
			}
			else if($("#category").val() === ""){
				$("#error").text("Please select a department.");
				//console.log("ass");
				return false;
			}
			else{
				var data = {"first_name":first_name,"mentor":mentor,"last_name":last_name,"title":title,"subarea":subarea,"abstract":abstract,"department":department};
				console.log(data);
				// var obj = JSON.parse(data);
				$("#error").text("");
				$("#namei").text(first_name+" "+last_name);
				$("#mentori").text(mentor);
				$("#titlei").text(title);
				$("#subareai").text(subarea);
				$("#departmenti").text(department);
				$("#abstracti").text(abstract);
				$("#edit").show();
				$("#print").show();
				$("#register1").hide();
				$("#tabledata").show();
				// console.log(obj);
				ajax_get(data,"/register/").done(function(response){
     			 console.log(response);
      			if (response['status'] == 1)
			      {
			        alert("Successfully Done!!");
			      
			      }
			      else
			      {
			      	alert("It didn't seem to work!!");
			      }
			    });

				return true;

			}
		}
		function changer(){
			$("#print").hide();
			$("#edit").hide();
			$("#register1").show();
			$("#tabledata").hide();
		}
	</script>
</html>		            
