{% extends "header.html" %}
{% load staticfiles %}
{% block content %}
		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>Institute Day platform <br /><h3>IIT(BHU), Varanasi</h3></h1>
					<ul class="actions">
						<li><a href="#one" class="button alt scrolly big">Continue</a></li>
						<li><a href="#google" class="button alt big">Google login</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<article id="one" class="post style1">
				<div class="image">
					<img src="{% static 'images/IIT1.jpg' %}" alt="IIT(BHU) logo" data-position="50% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="/generic">About<br /> Institute Day</a></h2>
						</header>
						<p>It is observed between 24th - 26th February, Where the departments showcase their projects and posters. </p>
					</div>
					<div class="postnav">
						<a href="#" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
					</div>
				</div>
			</article>
{% endblock %}
